body{
    width: 80%;
    margin: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }
  .topbar{
    border: 5px solid rgb(233, 238, 238);
    background-color: rgb(175, 172, 172);
    margin-top: 5px;
  }
  span{
    color: blue;
  }
  h1{
    background-color: brown;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  h2{
    line-height:5px;
  }
  p{
    text-align: justify;
    line-height: 35px;
    word-spacing: 5px;
    letter-spacing: 5px;
  }
  ul{
    list-style-type: none;
    display:flex;
    flex-direction:row ;
    margin: auto;
    justify-content: space-between;
    width: 500px;
  }
  li{
    text-align: center;
    background-color: rgb(174, 243, 167);
    width: 30%;
    font-size: 1.3em;
    border-radius: 5px;
  }
  a{
    text-decoration: none;
  }

  